<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flood Disaster</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <div class="container" style="padding: 30px">
    <div class="row" class="centro2" style="color: black">
      <div class="col">

      </div>
      <div class="col-5">
        <h1 class="centro2" style="color: black">Disasters Description</h1>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
  <div class="jumbotron12" id="flood" style="padding: 30px 0px;">
    <h1 class="display-1 tornado">Flood</h1>
    <hr class="my-4">
    <p class="centro"> Floods Warning: find shelter right away</p>
    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">

        </div>
        <div class="col-5">
          <img class="center" src="../../assets/flood.jpg" alt="tornado">
        </div>
        <div class="col">
          <div class="max-width-1024">
              <div class="embed-responsive embed-responsive-16by9" id="player">
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">
          <h3 class="centro" style="color: black">Precautions for Safety</h3>
        </div>
        <div class="col-5">
          <h3 class="centro" style="color: black">Prepare Now</h3>
        </div>
        <div class="col">
          <h3 class="centro">Survive During</h3>
        </div>
      </div>
    </div>
    <div class="container" style="padding: 30px">
      <div class="row" style="color: black; vertical-align: top">
        <div class="col">
          <ul>
            <li>Do not walk, swim, or drive through flood waters<strong>. Turn Around, Don’t Drown!</strong></li>
            <li>Just six inches of moving water can knock you down, and one foot of moving water can sweep your vehicle
              away.</li>
            <li>Stay off of bridges over fast-moving water.</li>
            <li>Evacuate if told to do so.</li>
            <li>Move to higher ground or a higher floor.</li>
            <li>Stay where you are.</li>
          </ul>

        </div>
        <div class="col-5">
          <ul style="vertical-align: text-top">
            <li>Know types of flood risk in your area. Visit FEMA’s Flood Map Service Center for information.</li>
            <li>Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and
              Atmospheric Administration (NOAA) Weather Radio also provide emergency alerts.</li>
            <li>If flash flooding is a risk in your location, then monitor potential signs, such as heavy rain.</li>
            <li>Learn and practice evacuation routes, shelter plans, and flash flood response.</li>
            <li>>Gather supplies in case you have to leave immediately, or if services are cut off. Keep in mind each
              person’s specific needs, including medication. Don’t forget the needs of pets. Obtain extra batteries and
              charging devices for phones and other critical equipment.</li>
            <li>Purchase or renew a flood insurance policy. It typically takes up to 30 days for a policy to go into
              effect
              and can protect the life you've built. Homeowner’s policies do not cover flooding. Get flood coverage
              under
              the National Flood Insurance Program (NFIP)</li>
            <li>Keep important documents in a waterproof container. Create password-protected digital copies.</li>
            <li>Protect your property. Move valuables to higher levels. Declutter drains and gutters. Install check
              valves.
              Consider a sump pump with a battery.</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>Depending on where you are, and the impact and the warning time of flooding, go to the safe location
              that
              you previously identified.</li>
            <li>If told to evacuate, do so immediately. Never drive around barricades. Local responders use them to
              safely
              direct traffic out of flooded areas.</li>
            <li>Listen to EAS, NOAA Weather Radio, or local alerting systems for current emergency information and
              instructions.</li>
            <li>Do not walk, swim, or drive through flood waters. Turn Around. Don’t Drown!</li>
            <li>Stay off bridges over fast-moving water. Fast-moving water can wash bridges away without warning.</li>
            <li>If your vehicle is trapped in rapidly moving water, then stay inside. If water is rising inside the
              vehicle, then seek refuge on the roof.</li>
            <li>If trapped in a building, then go to its highest level. Do not climb into a closed attic. You may
              become
              trapped by rising floodwater. Go on the roof only if necessary. Once there, signal for help.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro" style="color: black">
        <h3>Be Safe After</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro2" style="color: black">
        <ul>
          <li>Listen to authorities for information and instructions. Return home only when authorities say it is safe.</li>
          <li>Avoid driving, except in emergencies.</li>
          <li>Snakes and other animals may be in your house. Wear heavy gloves and boots during clean up.</li>
          <li>Be aware of the risk of electrocution. Do not touch electrical equipment if it is wet or if you are
            standing in water. If it is safe to do so, turn off the electricity to prevent electric shock.</li>
          <li>Avoid wading in floodwater, which can contain dangerous debris and be contaminated. Underground or downed
            power lines can also electrically charge the water.</li>
          <li>Use a generator or other gasoline-powered machinery ONLY outdoors and away from windows.</li>
        </ul>
      </div>
    </div>
  </div>
  <script src="" async defer></script>
</body>

</html>
