h1{
    /* color: black; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    border: 5px solid;
    border-radius: 8px;
    width: 250px;
    height: auto;
    max-width: 100%;
}

body{
    background-color: #7BFFC3;
    
}
#wildfire{
    background-image: url(../../assets/wildfire_bg.jpg);
    background-color: #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #7BFFC3;
}
.centro2{
    color: #7BFFC3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.centro{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hsla(120, 100%, 75%, 0.3);

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ul, li{
    border: 1px solid #000000;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
    bottom: 30px;
    background-color:hsla(120, 100%, 75%, 0.3);
}
.max-width-1024{
    max-width: 1024px; margin: 0 auto;
}
img.panel-slideshow-image {
    margin-left: 1rem;
}
span.range-label-middle {
    margin-left: .5em;
}