 <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
        <title>Tornado Precautions</title>
    </head>

    <body>
      <div class="container" style="padding: 30px">
        <div class="row" class="centro2" style="color: black">
          <div class="col">
          </div>
          <div class="col-5">
            <h1 class="centro2" style="color: black">Disasters Description</h1>
          </div>
          <div class="col">
        </div>
      </div>
    </div>
    <div class="jumbotron12" id="tornado" style="padding: 30px 0px;" >
    <h1 class="display-1 tornado">Tornado</h1>
    
    <hr class="my-4">
    <p class="centro">Tornado Warning: find a shelter right away</p>
    <div class="container" style="padding: 30px">
        <div class="row" class="centro2" style="color: black">
            <div class="col">
            
            </div>
            <div class="col-5">
                <img class="center" src="../../assets/tornado.jpg" alt="tornado">
            </div>
            <div class="col">
                <div class="max-width-1024">
                    <div class="embed-responsive embed-responsive-16by9" id="player">
                    </div>
                </div> 
            
            </div>
        </div>
    </div>
   
    <div class="container" style="padding: 30px">
        <div class="row" class="centro2" style="color: black">
            <div class="col">
                <h3 class="centro" style="color: black">Precautions for Safety</h3>
            </div>
            <div class="col-5">
                <h3 class="centro" style="color: black">Prepare Now</h3>
            </div>
            <div class="col">
                    <h3 class="centro">Survive During</h3>
            </div>
        </div>
    </div>
    <div class="container" style="padding: 30px">
        <div class="row" style="color: black; vertical-align: top">
            <div class="col">
                    <ul>
                            <li>Know your area’s tornado risk. In the U.S., the Midwest and the Southeast have a greater risk for
                                tornadoes.</li>
                            <li>Know the signs of a tornado, including a rotating, funnel-shaped cloud; an approaching cloud of debris; or
                                a loud
                                roar—similar to a freight train.</li>
                            <li>Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and
                                Atmospheric
                                Administration (NOAA) Weather Radio also provide emergency alerts. If your community has sirens, then
                                become
                                familiar with the warning tone.</li>
                            <li>Pay attention to weather reports. Meteorologists can predict when conditions might be right for a tornado.</li>
                            <li>Identify and practice going to a safe shelter in the event of high winds, such as a safe room built using
                                FEMA
                                criteria or a storm shelter built to ICC 500 standards. The next best protection is a small, interior,
                                windowless
                                room on the lowest level of a sturdy building.</li>
                            <li>Consider constructing your own safe room that meets FEMA or ICC 500 standards.</li>
                        </ul>
            
            </div>
            <div class="col-5">
                <ul style="vertical-align: text-top">
                    <li>Know your area’s tornado risk. In the U.S., the Midwest and the Southeast have a greater risk for
                        tornadoes.</li>
                    <li>Know the signs of a tornado, including a rotating, funnel-shaped cloud; an approaching cloud of debris; or
                        a loud
                        roar—similar to a freight train.</li>
                    <li>Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and
                        Atmospheric
                        Administration (NOAA) Weather Radio also provide emergency alerts. If your community has sirens, then
                        become
                        familiar with the warning tone.</li>
                    <li>Pay attention to weather reports. Meteorologists can predict when conditions might be right for a tornado.</li>
                    <li>Identify and practice going to a safe shelter in the event of high winds, such as a safe room built using
                        FEMA
                        criteria or a storm shelter built to ICC 500 standards. The next best protection is a small, interior,
                        windowless
                        room on the lowest level of a sturdy building.</li>
                    <li>Consider constructing your own safe room that meets FEMA or ICC 500 standards.</li>
                </ul>
            </div>
            <div class="col">
                    <ul>
                            <li>Immediately go to a safe location that you identified.</li>
                            <li>Take additional cover by shielding your head and neck with your arms and putting materials such as
                                furniture and blankets around you.</li>
                            <li>Listen to EAS, NOAA Weather Radio, or local alerting systems for current emergency information and
                                instructions.</li>
                            <li>Do not try to outrun a tornado in a vehicle.</li>
                            <li>If you are in a car or outdoors and cannot get to a building, cover your head and neck with your arms and
                                cover your body with a coat or blanket, if possible.</li>
                        </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 centro" style="color: black">
                <h3>Be Safe After</h3>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6 offset-md-3 centro2" style="color: black"><ul>
                <li>Keep listening to EAS, NOAA Weather Radio, and local authorities for updated information.</li>
                <li>If you are trapped, cover your mouth with a cloth or mask to avoid breathing dust. Try to send a text, bang
                    on a pipe or wall, or use a whistle instead of shouting.</li>
                <li>Stay clear of fallen power lines or broken utility lines.</li>
                <li>Do not enter damaged buildings until you are told that they are safe.</li>
                <li>Save your phone calls for emergencies. Phone systems are often down or busy after a disaster. Use text
                    messaging or social media to communicate with family and friends.</li>
                <li>Be careful during clean-up. Wear thick-soled shoes, long pants, and work gloves.</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>