<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <title>Precautions</title>
</head>

<body>
  <div class="container" style="padding: 30px">
    <div class="row" class="centro2" style="color: black">
      <div class="col">

      </div>
      <div class="col-5">
        <h1 class="centro2" style="color: black">Disasters Description</h1>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
  <div class="jumbotron12" id="tornado" style="padding: 30px 0px;">




    <h1 class="display-1 tornado">Tornado</h1>

    <hr class="my-4">
    <p class="centro">Tornado Warning: find a shelter right away</p>
    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">

        </div>
        <div class="col-5">
          <img class="center" src="../../assets/tornado.jpg" alt="tornado">
        </div>
        <div class="col">

        </div>
      </div>
    </div>

    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">
          <h3 class="centro" style="color: black">Precautions for Safety</h3>
        </div>
        <div class="col-5">
          <h3 class="centro" style="color: black">Prepare Now</h3>
        </div>
        <div class="col">
          <h3 class="centro">Survive During</h3>
        </div>
      </div>
    </div>
    <div class="container" style="padding: 30px">
      <div class="row" style="color: black; vertical-align: top">
        <div class="col">
          <ul>
            <li>Know your area’s tornado risk. In the U.S., the Midwest and the Southeast have a greater risk for
              tornadoes.</li>
            <li>Know the signs of a tornado, including a rotating, funnel-shaped cloud; an approaching cloud of debris;
              or
              a loud
              roar—similar to a freight train.</li>
            <li>Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and
              Atmospheric
              Administration (NOAA) Weather Radio also provide emergency alerts. If your community has sirens, then
              become
              familiar with the warning tone.</li>
            <li>Pay attention to weather reports. Meteorologists can predict when conditions might be right for a
              tornado.</li>
            <li>Identify and practice going to a safe shelter in the event of high winds, such as a safe room built
              using
              FEMA
              criteria or a storm shelter built to ICC 500 standards. The next best protection is a small, interior,
              windowless
              room on the lowest level of a sturdy building.</li>
            <li>Consider constructing your own safe room that meets FEMA or ICC 500 standards.</li>
          </ul>

        </div>
        <div class="col-5">
          <ul style="vertical-align: text-top">
            <li>Know your area’s tornado risk. In the U.S., the Midwest and the Southeast have a greater risk for
              tornadoes.</li>
            <li>Know the signs of a tornado, including a rotating, funnel-shaped cloud; an approaching cloud of debris;
              or
              a loud
              roar—similar to a freight train.</li>
            <li>Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and
              Atmospheric
              Administration (NOAA) Weather Radio also provide emergency alerts. If your community has sirens, then
              become
              familiar with the warning tone.</li>
            <li>Pay attention to weather reports. Meteorologists can predict when conditions might be right for a
              tornado.</li>
            <li>Identify and practice going to a safe shelter in the event of high winds, such as a safe room built
              using
              FEMA
              criteria or a storm shelter built to ICC 500 standards. The next best protection is a small, interior,
              windowless
              room on the lowest level of a sturdy building.</li>
            <li>Consider constructing your own safe room that meets FEMA or ICC 500 standards.</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>Immediately go to a safe location that you identified.</li>
            <li>Take additional cover by shielding your head and neck with your arms and putting materials such as
              furniture and blankets around you.</li>
            <li>Listen to EAS, NOAA Weather Radio, or local alerting systems for current emergency information and
              instructions.</li>
            <li>Do not try to outrun a tornado in a vehicle.</li>
            <li>If you are in a car or outdoors and cannot get to a building, cover your head and neck with your arms
              and
              cover your body with a coat or blanket, if possible.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro" style="color: black">
        <h3>Be Safe After</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro2" style="color: black">
        <ul>
          <li>Keep listening to EAS, NOAA Weather Radio, and local authorities for updated information.</li>
          <li>If you are trapped, cover your mouth with a cloth or mask to avoid breathing dust. Try to send a text,
            bang
            on a pipe or wall, or use a whistle instead of shouting.</li>
          <li>Stay clear of fallen power lines or broken utility lines.</li>
          <li>Do not enter damaged buildings until you are told that they are safe.</li>
          <li>Save your phone calls for emergencies. Phone systems are often down or busy after a disaster. Use text
            messaging or social media to communicate with family and friends.</li>
          <li>Be careful during clean-up. Wear thick-soled shoes, long pants, and work gloves.</li>
        </ul>
      </div>
    </div>




  </div>

  <!--wildfire start-->

  <div class="jumbotron12" id="wildfire" style="padding: 30px 0px;">




    <h1 class="display-1 tornado">Wildfire</h1>

    <hr class="my-4">
    <p class="centro">Wildfires Warning: get to safety right away</p>
    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">

        </div>
        <div class="col-5">
          <img class="center" src="../../assets/fire.jpg" alt="tornado">
        </div>
        <div class="col">

        </div>
      </div>
    </div>

    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">
          <h3 class="centro" style="color: black">Precautions for Safety</h3>
        </div>
        <div class="col-5">
          <h3 class="centro" style="color: black">Prepare Now</h3>
        </div>
        <div class="col">
          <h3 class="centro">Survive During</h3>
        </div>
      </div>
    </div>
    <div class="container" style="padding: 30px">
      <div class="row" style="color: black; vertical-align: top">
        <div class="col">
          <ul>
            <li>Leave if told to do so.</li>
            <li>If trapped, call 9-1-1.</li>
            <li>Listen for emergency information and alerts.</li>
            <li>Use N95 masks to keep particles out of the air you breathe.</li>
          </ul>

        </div>
        <div class="col-5">
          <ul style="vertical-align: text-top">
            <li>Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and
              Atmospheric Administration (NOAA) Weather Radio also provide emergency alerts.</li>
            <li>Know your community’s evacuation plans and find several ways to leave the area. Drive the evacuation
              routes
              and find shelter locations. Have a plan for pets and livestock.</li>
            <li>Gather emergency supplies, including N95 respirator masks that filter out particles in the air you
              breathe.
              Keep in mind each person’s specific needs, including and updated asthma action plan
              and medication. Don’t forget the needs of pets.</li>
            <li>Designate a room that can be closed off from outside air. Close all doors and windows. Set up a
              portable
              air
              cleaner to keep indoor pollution levels low when smoky conditions exist.</li>
            <li>Keep important documents in a fireproof, safe place. Create password-protected digital copies.</li>
            <li>Use fire-resistant materials to build, renovate, or make repairs.</li>
            <li>Find an outdoor water source with a hose that can reach any area of your property.</li>
            <li>Create a fire-resistant zone that is free of leaves, debris, or flammable materials for at least 30
              feet
              from your home.</li>
            <li>Review insurance coverage to make sure it is enough to replace your property.</li>
            <li>Pay attention to air quality alerts.</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>Evacuate immediately if authorities tell you to do so.</li>
            <li>If trapped, then call 911 and give your location, but be aware that emergency response could be delayed
              or
              impossible. Turn on lights to help rescuers find you.</li>
            <li>Listen to EAS, NOAA Weather Radio, or local alerting systems for current emergency information and
              instructions.</li>
            <li>Use an N95 masks to keep harmful particles out of the air you breathe.</li>
            <li>If you are not ordered to evacuate but smoky conditions exist, stay inside in a safe location or go to
              a
              community building where smoke levels are lower.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro" style="color: black">
        <h3>Be Safe After</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro2" style="color: black">
        <ul>
          <li>Keep listening to EAS, NOAA Weather Radio, and local authorities for updated information.</li>
          <li>If you are trapped, cover your mouth with a cloth or mask to avoid breathing dust. Try to send a text,
            bang
            on a pipe or wall, or use a whistle instead of shouting.</li>
          <li>Stay clear of fallen power lines or broken utility lines.</li>
          <li>Do not enter damaged buildings until you are told that they are safe.</li>
          <li>Save your phone calls for emergencies. Phone systems are often down or busy after a disaster. Use text
            messaging or social media to communicate with family and friends.</li>
          <li>Be careful during clean-up. Wear thick-soled shoes, long pants, and work gloves.</li>
        </ul>
      </div>
    </div>
  </div>
  <!--Earthquake start-->

  <div class="jumbotron12" id="earthquake" style="padding: 30px 0px;">




    <h1 class="display-1 tornado">Earthquake</h1>

    <hr class="my-4">
    <p class="centro"> Earthquake Warning: drop, cover, and hold on</p>
    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">

        </div>
        <div class="col-5">
          <img class="center" src="../../assets/earthquake.jpg" alt="tornado">
        </div>
        <div class="col">

        </div>
      </div>
    </div>

    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">
          <h3 class="centro" style="color: black">Precautions for Safety</h3>
        </div>
        <div class="col-5">
          <h3 class="centro" style="color: black">Prepare Now</h3>
        </div>
        <div class="col">
          <h3 class="centro">Survive During</h3>
        </div>
      </div>
    </div>
    <div class="container" style="padding: 30px">
      <div class="row" style="color: black; vertical-align: top">
        <div class="col">
          <ul>
            <li>If in a vehicle, pull over and stop.</li>
            <li>If in bed, stay there.</li>
            <li>If outdoors, stay outdoors.</li>
            <li>Do not get in a doorway.</li>
            <li>Do not run outside.</li>
          </ul>

        </div>
        <div class="col-5">
          <ul style="vertical-align: text-top">
            <li>Secure items, such as televisions, and objects that hang on walls. Store heavy and breakable objects on
              low
              shelves.</li>
            <li>Practice <strong>Drop, Cover, then Hold On</strong> with family and coworkers. Drop to your hands and
              knees.
              Cover your head and neck with your arms. Crawl only as far as needed to reach cover from falling
              materials.
              Hold on to any sturdy furniture until the shaking stops.</li>
            <li>Create a family emergency communications plan that has an out-of-state contact. Plan where to meet if
              you
              get
              separated.</li>
            <li>Make a supply kit that includes enough food and water for at least three days, a flashlight, a fire
              extinguisher, and a whistle. Consider each person’s specific needs, including medication. Do not forget
              the
              needs of pets. Have extra batteries and charging devices for phones and other critical equipment.</li>
            <li>Consider obtaining an earthquake insurance policy. Standard homeowner’s insurance does not cover
              earthquake
              damage.</li>
            <li>Consider a retrofit of your building to correct structural issues that make it vulnerable to collapse
              during an
              earthquake.</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><strong>Drop, Cover, then Hold On</strong> like you practiced. Drop to your hands and knees. Cover your
              head and neck with your arms. Hold on to any sturdy furniture until the shaking stops. Crawl only if you
              can reach better cover without going through an area with more debris.</li>
            <li>If in bed, stay there and cover your head and neck with a pillow.</li>
            <li>If inside, stay there until the shaking stops. DO NOT run outside.</li>
            <li>If in a vehicle, stop in a clear area that is away from buildings, trees, overpasses, underpasses, or
              utility wires.</li>
            <li>If you are in a high-rise building, expect fire alarms and sprinklers to go off. Do not use elevators.</li>
            <li>If near slopes, cliffs, or mountains, be alert for falling rocks and landslides.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro" style="color: black">
        <h3>Be Safe After</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro2" style="color: black">
        <ul>
          <li>Expect aftershocks to follow the largest shock of an earthquake.</li>
          <li>Check yourself for injury and provide assistance to others if you have training.</li>
          <li>If in a damaged building, go outside and quickly move away from the building.</li>
          <li>Do not enter damaged buildings.</li>
          <li>If you are trapped, cover your mouth. Send a text, bang on a pipe or wall, or use a whistle instead of
            shouting
            so that rescuers can locate you.</li>
          <li>If you are in an area that may experience tsunamis, go inland or to higher ground immediately after the
            shaking
            stops.</li>
          <li>Save phone calls for emergencies.</li>
          <li>>Once safe, monitor local news reports via battery operated radio, TV, social media, and cell phone text
            alerts for emergency information and instructions.</li>
          <li>Use extreme caution during post-disaster clean-up of buildings and around debris. Do not attempt to
            remove
            heavy debris by yourself. Wear protective clothing, including a long-sleeved shirt, long pants, work
            gloves, and sturdy, thick-soled shoes during clean-up.</li>
        </ul>
      </div>
    </div>


  </div>

  <!--Flood start-->

  <div class="jumbotron12" id="flood" style="padding: 30px 0px;">




    <h1 class="display-1 tornado">Flood</h1>

    <hr class="my-4">
    <p class="centro"> Floods Warning: find shelter right away</p>
    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">

        </div>
        <div class="col-5">
          <img class="center" src="../../assets/flood.jpg" alt="tornado">
        </div>
        <div class="col">

        </div>
      </div>
    </div>

    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">
          <h3 class="centro" style="color: black">Precautions for Safety</h3>
        </div>
        <div class="col-5">
          <h3 class="centro" style="color: black">Prepare Now</h3>
        </div>
        <div class="col">
          <h3 class="centro">Survive During</h3>
        </div>
      </div>
    </div>
    <div class="container" style="padding: 30px">
      <div class="row" style="color: black; vertical-align: top">
        <div class="col">
          <ul>
            <li>Do not walk, swim, or drive through flood waters<strong>. Turn Around, Don’t Drown!</strong></li>
            <li>Just six inches of moving water can knock you down, and one foot of moving water can sweep your vehicle
              away.</li>
            <li>Stay off of bridges over fast-moving water.</li>
            <li>Evacuate if told to do so.</li>
            <li>Move to higher ground or a higher floor.</li>
            <li>Stay where you are.</li>
          </ul>

        </div>
        <div class="col-5">
          <ul style="vertical-align: text-top">
            <li>Know types of flood risk in your area. Visit FEMA’s Flood Map Service Center for information.</li>
            <li>Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and
              Atmospheric Administration (NOAA) Weather Radio also provide emergency alerts.</li>
            <li>If flash flooding is a risk in your location, then monitor potential signs, such as heavy rain.</li>
            <li>Learn and practice evacuation routes, shelter plans, and flash flood response.</li>
            <li>>Gather supplies in case you have to leave immediately, or if services are cut off. Keep in mind each
              person’s specific needs, including medication. Don’t forget the needs of pets. Obtain extra batteries and
              charging devices for phones and other critical equipment.</li>
            <li>Purchase or renew a flood insurance policy. It typically takes up to 30 days for a policy to go into
              effect
              and can protect the life you've built. Homeowner’s policies do not cover flooding. Get flood coverage
              under
              the National Flood Insurance Program (NFIP)</li>
            <li>Keep important documents in a waterproof container. Create password-protected digital copies.</li>
            <li>Protect your property. Move valuables to higher levels. Declutter drains and gutters. Install check
              valves.
              Consider a sump pump with a battery.</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>Depending on where you are, and the impact and the warning time of flooding, go to the safe location
              that
              you previously identified.</li>
            <li>If told to evacuate, do so immediately. Never drive around barricades. Local responders use them to
              safely
              direct traffic out of flooded areas.</li>
            <li>Listen to EAS, NOAA Weather Radio, or local alerting systems for current emergency information and
              instructions.</li>
            <li>Do not walk, swim, or drive through flood waters. Turn Around. Don’t Drown!</li>
            <li>Stay off bridges over fast-moving water. Fast-moving water can wash bridges away without warning.</li>
            <li>If your vehicle is trapped in rapidly moving water, then stay inside. If water is rising inside the
              vehicle, then seek refuge on the roof.</li>
            <li>If trapped in a building, then go to its highest level. Do not climb into a closed attic. You may
              become
              trapped by rising floodwater. Go on the roof only if necessary. Once there, signal for help.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro" style="color: black">
        <h3>Be Safe After</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro2" style="color: black">
        <ul>
          <li>Listen to authorities for information and instructions. Return home only when authorities say it is safe.</li>
          <li>Avoid driving, except in emergencies.</li>
          <li>Snakes and other animals may be in your house. Wear heavy gloves and boots during clean up.</li>
          <li>Be aware of the risk of electrocution. Do not touch electrical equipment if it is wet or if you are
            standing in water. If it is safe to do so, turn off the electricity to prevent electric shock.</li>
          <li>Avoid wading in floodwater, which can contain dangerous debris and be contaminated. Underground or downed
            power lines can also electrically charge the water.</li>
          <li>Use a generator or other gasoline-powered machinery ONLY outdoors and away from windows.</li>
        </ul>
      </div>
    </div>


  </div>

  <!--Nuke start-->

  <div class="jumbotron12" id="nuke" style="padding: 30px 0px;">




    <h1 class="display-1 tornado">Nuclear Radiation</h1>

    <hr class="my-4">
    <p class="centro"> Nuclear Radiation: being prepared in advance in case of Radiological Dispersion Device (RDD)
      Event</p>
    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">

        </div>
        <div class="col-5">
          <img class="center" src="../../assets/radiation symbol.jpg" alt="tornado">
        </div>
        <div class="col">

        </div>
      </div>
    </div>

    <div class="container" style="padding: 30px">
      <div class="row" class="centro2" style="color: black">
        <div class="col">
          <h3 class="centro" style="color: black">Precautions for Safety</h3>
        </div>
        <div class="col-5">
          <h3 class="centro" style="color: black">Prepare Now</h3>
        </div>
        <div class="col">
          <h3 class="centro">Survive During</h3>
        </div>
      </div>
    </div>
    <div class="container" style="padding: 30px">
      <div class="row" style="color: black; vertical-align: top">
        <div class="col">
          <ul>
            <li>Build an Emergency Supply Kit with the addition of duct tape and scissors.</li>
            <li>Make a Family Emergency Plan.</li>
            <li>Find out from officials if any public buildings in your community have been designated as fallout
              shelters.
              If none have been designated, make your own list of potential shelters near your home, workplace, and
              school, such as basements, subways, tunnels, or the windowless center area of middle floors in high-rise
              buildings.</li>
            <li>If you live in an apartment building or high-rise, talk to the manager about the safest place in the
              building for sheltering and about providing for building occupants until it is safe to go out.</li>
          </ul>

        </div>
        <div class="col-5">

          <p>Taking shelter during an RDD event is necessary. There are two kinds of shelters: blast and fallout. The
            following describes the two kinds of shelters:</p>
          <ul style="vertical-align: text-top">
            <li><strong>Blast shelters</strong> are specifically constructed to offer some protection against blast
              pressure, initial radiation, heat, and fire. But even a blast shelter cannot withstand a direct hit from
              a
              nuclear explosion.</li>
            <li><strong>Fallout shelters</strong> do not need to be specially constructed for protecting against
              fallout.
              They can be any protected space, provided that the walls and roof are thick and dense enough to absorb
              the
              radiation given off by fallout particles.</li>
          </ul>
        </div>
        <div class="col">
          <h3>During a Radiological Dispersion Device (RDD) Event</h3>
          <h3>Outdoors</h3>
          <ul>
            <li>Seek shelter indoors immediately in the nearest undamaged building.</li>
            <li>If appropriate shelter is not available, cover your nose and mouth and move as rapidly as is safe
              upwind,
              away from the location of the explosive blast. Then, seek appropriate shelter as soon as possible.</li>
            <li>Listen for official instructions and follow directions.</li>
          </ul>
          <h3>Indoors</h3>
          <ul>
            <li>If you have time, turn off ventilation and heating systems, close windows, vents, fireplace dampers,
              exhaust fans, and clothes dryer vents.</li>
            <li>Retrieve your disaster supplies kit and a battery-powered radio and take them to your shelter room.</li>
            <li>Seek shelter immediately, preferably underground or in an interior room of a building, placing as much
              distance and dense shielding as possible between you and the outdoors where the radioactive material may
              be.</li>
            <li>Seal windows and external doors that do not fit snugly with duct tape to reduce infiltration of
              radioactive
              particles. Plastic sheeting will not provide shielding from radioactivity nor from blast effects of a
              nearby explosion.</li>
            <li>Listen for official instructions and follow directions</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro" style="color: black">
        <h3>After a Radiological Dispersion Device (RDD) Event</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 centro2" style="color: black">
        <p>After finding safe shelter, those who may have been exposed to radioactive material should decontaminate
          themselves. To do this, remove and bag your clothing (and isolate the bag away from you and others), and
          shower
          thoroughly with soap and water. Seek medical attention after officials indicate it is safe to leave shelter.
          Contamination from an RDD event could affect a wide area, depending on the amount of conventional explosives
          used, the quantity and type of radioactive material released, and meteorlogical conditions. Follow these
          additional guidelines after an RDD event:</p>
        <ul>
          <li>Continue listening to your radio or watch the television for instructions from local officials, whether
            you
            have evacuated or sheltered-in-place</li>
          <li>Do not return to or visit an RDD incident location for any reason.</li>
        </ul>
      </div>
    </div>


  </div>







</body>

</html>
