* {
    margin: 0px;
    border: 0px;     
    /* border: 1px solid pink;    */
}
.container {
    /* margin-left: 200px; */
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
}
.skootright {
    margin-left: 200px;
}
.errors {
    color: red;
}


